{% for result in command_output.results %}
Command: {{ result.invocation.module_args.command }}
Output:
{{ result.stdout | indent(2) }}

{% if not loop.last %}
------------------------------------------------------------

{% endif %}
{% endfor %}