all:
  hosts:
{% for device in devices %}
    {{ device.name }}:
      ansible_host: {{ device.primary_ip }}
      interfaces:
{% for interface in device.interfaces %}
        "{{ interface.name | replace(' ', '_') }}":
          type: {{ interface.type }}
          mode: {{ interface.mode }}
{% endfor %}
{% endfor %}